<div>
    <h1 style="margin: 5%;">HI, STUDENT’S AIMS PORTAL</h1>
</div>
<div class="span-table2" >
    <h1 style="margin-left: 5%;margin-right: 5%;">
        Other Documents
    </h1>

    <mat-grid-list  cols="10" style="margin-left: 5%;margin-right: 5%;margin-bottom: 5%;" rowHeight="1000px">
        
        <div>
            <ul>
              <li *ngFor="let doc of docs; let i = index; trackBy: trackByGrocery;">
    
                <div style="margin: 2%;">
                    <input type="file" (change)="selectFile($event, doc)" id="file-input"/> 
                    <p style="margin-left: 2%;display: flex;">{{doc.name}}</p>
                    <button style="margin-left: 2%;" mat-flat-button color="primary" [disabled]="!doc.currentFile" (click)="upload(doc)" >Upload</button>
                    <button style="margin-left: 2%;" mat-flat-button  (click)="removeCurrent(doc)">Remove</button>
                </div>
    
              </li>
            </ul>
    
            <div>
                <button style="margin-left: 5%;" mat-flat-button color="primary" (click)="AddNew()" >Add New File</button>
            </div>

            <div style="margin: 2%;">
                <button style="margin-left: 5%;" mat-flat-button color="primary" (click)="Save(docs)" >Save</button>
            </div>
        </div>

    </mat-grid-list>
</div>
