.span-30
{
    width: 35%;
    padding: 5px;
}
.phoenixlogo{
    position: absolute;
    top: 50px;
    left: 100px;
    border-radius: 0;
}

img {
    width: 200px; 
    height: 40px; 
    object-fit: cover; 
    border-radius: 50%; 
    position: relative;
    }
    