p {
    font-family: Lato;
  }
  
  .example-card {
    max-width: 300px;
    margin: 4px
  }
  
  .example-header-image {
    background-image: './assets/images/clients.jpg';
    background-size: cover;
  }

  .card {
    width: 95%;
    margin-top: 5%;
    margin-left: 2%;
  }
  
  .card-body{
    display: flex;
    justify-content: center;
  }

  img {
    width: 100px; 
    height: 50px; 
    object-fit: cover; 
    border-radius: 50%; 
    position: relative;
  }

  mat-grid-list{
    margin-top: 5%;
  }