<mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile >
        <mat-card>
            <mat-card-header>
                <img src="assets/images/clients.jpg" alt="Client">
                <mat-card-title>clients</mat-card-title>
                <mat-card-subtitle>1</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile >
        <mat-card>
            <mat-card-header>
                <img src="assets/images/report.jpg" alt="Client">
                <mat-card-title>Request</mat-card-title>
                <mat-card-subtitle>3</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile >
        <mat-card>
            <mat-card-header>
                <img src="assets/images/earnings.jpg" alt="Client">
                <mat-card-title>Earnings</mat-card-title>
                <mat-card-subtitle>100$</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <img src="assets/images/switch.jpg" alt="Client">
                <mat-card-title>Message</mat-card-title>
                <mat-card-subtitle>ABC</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<div class="card" >
  <table class="table">
    <thead>
      <tr>
        <th>Activities</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Personal details</td>
        <td>Completed</td>
      </tr>
      <tr>
        <td>Service Level Agreement</td>
        <td>In Progress</td>
      </tr>
      <tr>
        <td>Permission</td>
        <td>Pending</td>
      </tr>
    </tbody>
  </table>
</div>