<div class="search-div">
  <button mat-raised-button  (click)="onCreate()">
    <mat-icon>add</mat-icon>Create
  </button>
  <mat-form-field class="search-form-field" floatLabel="never">
    <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
    <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div style="padding: 10px;">
  <mat-table [dataSource]="listData"  matSort>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="genderString">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Gender</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.genderString}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="dob">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>DOB</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.dob}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="serviceName">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Service Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.serviceName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Email</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Phone</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.phone}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Address</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.address}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="university">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>University</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.university}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="course">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Course</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.course}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="courseYear">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>CourseYear</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.courseYear}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Status</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="onForm(row)" style="width: 20px;"><mat-icon>assignment</mat-icon></button>&nbsp;&nbsp;
        <button mat-icon-button (click)="onTest(row)" style="width: 20px;"><mat-icon>launch</mat-icon></button>&nbsp;&nbsp;
        <button mat-icon-button (click)="onReport(row)" style="width: 20px;"><mat-icon>print</mat-icon></button>&nbsp;&nbsp;
        <button mat-icon-button color="warn" (click)="onDelete(row.id)" style="width: 20px;"><mat-icon>delete_outline</mat-icon></button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Loading data...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        No data.
      </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':!loading}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':loading || listData.data.length!=0}"></mat-footer-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>