<form [formGroup]="form"  (submit)="onSubmit()">
    <p>The Adult Developmental Coordination Disorder/Dyspraxia Checklist (ADC)</p>  
    <div class="floating-buttons">
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Save</button>
      <button mat-button color="primary" matStepperNext>Next</button>
  </div>
  <p style="color:blue; font-weight:bold;">Part 1 : Childhood</p>
  <p style="font-weight:bold;">As a child, did you:</p>
  <div class="padded-div">
    <mat-label matBadge="3" matBadgePosition="before" matBadgeColor="accent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q1: Have difficulties with self-care tasks, such as tying shoelaces, fastening buttons and zips?:</mat-label>
    <span class="example-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [checked]="subtask.completed"
                          [color]="subtask.color"
                          (change)="updateTask2Node(subtask.name)">
              <p *ngIf="subtask.name != 'Other'">{{subtask.name}}</p>
              <mat-form-field *ngIf="subtask.name == 'Other'">
                <input matInput placeholder="Other">
            </mat-form-field>
            </mat-checkbox>
          </li>
        </ul>
    </span>
</div>
  <div class="padded-div">
    <mat-label matBadge="3" matBadgePosition="before" matBadgeColor="accent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q2: Have difficulty eating without getting dirty?:</mat-label>
    <span class="example-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [checked]="subtask.completed"
                          [color]="subtask.color"
                          (change)="updateTask2Node(subtask.name)">
              <p *ngIf="subtask.name != 'Other'">{{subtask.name}}</p>
              <mat-form-field *ngIf="subtask.name == 'Other'">
                <input matInput placeholder="Other">
            </mat-form-field>
            </mat-checkbox>
          </li>
        </ul>
    </span>
</div>
<div class="padded-div">
    <mat-label matBadge="3" matBadgePosition="before" matBadgeColor="accent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q3: Have difficulty learning to ride a bike compared to your peers?:</mat-label>
    <span class="example-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [checked]="subtask.completed"
                          [color]="subtask.color"
                          (change)="updateTask2Node(subtask.name)">
              <p *ngIf="subtask.name != 'Other'">{{subtask.name}}</p>
              <mat-form-field *ngIf="subtask.name == 'Other'">
                <input matInput placeholder="Other">
            </mat-form-field>
            </mat-checkbox>
          </li>
        </ul>
    </span>
</div>
<div class="padded-div">
    <mat-label matBadge="3" matBadgePosition="before" matBadgeColor="accent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q4: Have difficulties with playing team games, such as football, volleyball, catching or throwing balls accurately?:</mat-label>
    <span class="example-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [checked]="subtask.completed"
                          [color]="subtask.color"
                          (change)="updateTask2Node(subtask.name)">
              <p *ngIf="subtask.name != 'Other'">{{subtask.name}}</p>
              <mat-form-field *ngIf="subtask.name == 'Other'">
                <input matInput placeholder="Other">
            </mat-form-field>
            </mat-checkbox>
          </li>
        </ul>
    </span>
</div>
<div class="padded-div">
    <mat-label matBadge="3" matBadgePosition="before" matBadgeColor="accent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q5: Have difficulty writing neatly (so others could read it)?:</mat-label>
    <span class="example-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [checked]="subtask.completed"
                          [color]="subtask.color"
                          (change)="updateTask2Node(subtask.name)">
              <p *ngIf="subtask.name != 'Other'">{{subtask.name}}</p>
              <mat-form-field *ngIf="subtask.name == 'Other'">
                <input matInput placeholder="Other">
            </mat-form-field>
            </mat-checkbox>
          </li>
        </ul>
    </span>
</div>
<div class="padded-div">
    <mat-label matBadge="3" matBadgePosition="before" matBadgeColor="accent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q6: Have difficulty writing as fast as your peers?:</mat-label>
    <span class="example-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [checked]="subtask.completed"
                          [color]="subtask.color"
                          (change)="updateTask2Node(subtask.name)">
              <p *ngIf="subtask.name != 'Other'">{{subtask.name}}</p>
              <mat-form-field *ngIf="subtask.name == 'Other'">
                <input matInput placeholder="Other">
            </mat-form-field>
            </mat-checkbox>
          </li>
        </ul>
    </span>
</div>
<div class="padded-div">
    <mat-label matBadge="3" matBadgePosition="before" matBadgeColor="accent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q7: Bump into objects or people, trip over things more than others?:</mat-label>
    <span class="example-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [checked]="subtask.completed"
                          [color]="subtask.color"
                          (change)="updateTask2Node(subtask.name)">
              <p *ngIf="subtask.name != 'Other'">{{subtask.name}}</p>
              <mat-form-field *ngIf="subtask.name == 'Other'">
                <input matInput placeholder="Other">
            </mat-form-field>
            </mat-checkbox>
          </li>
        </ul>
    </span>
</div>
<div class="padded-div">
    <mat-label matBadge="3" matBadgePosition="before" matBadgeColor="accent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q8: Have difficulty playing a musical instrument (e.g. violin, recorder)?:</mat-label>
    <span class="example-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [checked]="subtask.completed"
                          [color]="subtask.color"
                          (change)="updateTask2Node(subtask.name)">
              <p *ngIf="subtask.name != 'Other'">{{subtask.name}}</p>
              <mat-form-field *ngIf="subtask.name == 'Other'">
                <input matInput placeholder="Other">
            </mat-form-field>
            </mat-checkbox>
          </li>
        </ul>
    </span>
</div>
<div class="padded-div">
    <mat-label matBadge="3" matBadgePosition="before" matBadgeColor="accent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q9: Have difficulties with organising/finding things in your room?:</mat-label>
    <span class="example-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [checked]="subtask.completed"
                          [color]="subtask.color"
                          (change)="updateTask2Node(subtask.name)">
              <p *ngIf="subtask.name != 'Other'">{{subtask.name}}</p>
              <mat-form-field *ngIf="subtask.name == 'Other'">
                <input matInput placeholder="Other">
            </mat-form-field>
            </mat-checkbox>
          </li>
        </ul>
    </span>
</div>
<div class="padded-div">
    <mat-label matBadge="3" matBadgePosition="before" matBadgeColor="accent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q10: Have others comment about your lack of coordination or call you clumsy?:</mat-label>
    <span class="example-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [checked]="subtask.completed"
                          [color]="subtask.color"
                          (change)="updateTask2Node(subtask.name)">
              <p *ngIf="subtask.name != 'Other'">{{subtask.name}}</p>
              <mat-form-field *ngIf="subtask.name == 'Other'">
                <input matInput placeholder="Other">
            </mat-form-field>
            </mat-checkbox>
          </li>
        </ul>
    </span>
</div>
<p style="color:blue; font-weight:bold;">Part 1 : Adulthood</p>
  <p style="font-weight:bold;">Do you currently have difficulties with the following items:</p>
  <div class="padded-div">
    <mat-label matBadge="3" matBadgePosition="before" matBadgeColor="accent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q11: Self-care tasks such as shaving or make up?:</mat-label>
    <span class="example-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [checked]="subtask.completed"
                          [color]="subtask.color"
                          (change)="updateTask2Node(subtask.name)">
              <p *ngIf="subtask.name != 'Other'">{{subtask.name}}</p>
              <mat-form-field *ngIf="subtask.name == 'Other'">
                <input matInput placeholder="Other">
            </mat-form-field>
            </mat-checkbox>
          </li>
        </ul>
    </span>
</div>
<div class="padded-div">
    <mat-label matBadge="3" matBadgePosition="before" matBadgeColor="accent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q12: Eating with a knife and fork/spoon?:</mat-label>
    <span class="example-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [checked]="subtask.completed"
                          [color]="subtask.color"
                          (change)="updateTask2Node(subtask.name)">
              <p *ngIf="subtask.name != 'Other'">{{subtask.name}}</p>
              <mat-form-field *ngIf="subtask.name == 'Other'">
                <input matInput placeholder="Other">
            </mat-form-field>
            </mat-checkbox>
          </li>
        </ul>
    </span>
</div>
<div class="padded-div">
    <mat-label matBadge="3" matBadgePosition="before" matBadgeColor="accent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q13: Hobbies that require good coordination?:</mat-label>
    <span class="example-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [checked]="subtask.completed"
                          [color]="subtask.color"
                          (change)="updateTask2Node(subtask.name)">
              <p *ngIf="subtask.name != 'Other'">{{subtask.name}}</p>
              <mat-form-field *ngIf="subtask.name == 'Other'">
                <input matInput placeholder="Other">
            </mat-form-field>
            </mat-checkbox>
          </li>
        </ul>
    </span>
</div>
<div class="padded-div">
    <mat-label matBadge="3" matBadgePosition="before" matBadgeColor="accent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q14: Writing neatly when having to write fast?:</mat-label>
    <span class="example-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [checked]="subtask.completed"
                          [color]="subtask.color"
                          (change)="updateTask2Node(subtask.name)">
              <p *ngIf="subtask.name != 'Other'">{{subtask.name}}</p>
              <mat-form-field *ngIf="subtask.name == 'Other'">
                <input matInput placeholder="Other">
            </mat-form-field>
            </mat-checkbox>
          </li>
        </ul>
    </span>
</div>
<div class="padded-div">
    <mat-label matBadge="3" matBadgePosition="before" matBadgeColor="accent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q15: Writing as fast as your peers?:</mat-label>
    <span class="example-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [checked]="subtask.completed"
                          [color]="subtask.color"
                          (change)="updateTask2Node(subtask.name)">
              <p *ngIf="subtask.name != 'Other'">{{subtask.name}}</p>
              <mat-form-field *ngIf="subtask.name == 'Other'">
                <input matInput placeholder="Other">
            </mat-form-field>
            </mat-checkbox>
          </li>
        </ul>
    </span>
</div>
<div class="padded-div">
    <mat-label matBadge="3" matBadgePosition="before" matBadgeColor="accent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q16: Reading your own writing?:</mat-label>
    <span class="example-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [checked]="subtask.completed"
                          [color]="subtask.color"
                          (change)="updateTask2Node(subtask.name)">
              <p *ngIf="subtask.name != 'Other'">{{subtask.name}}</p>
              <mat-form-field *ngIf="subtask.name == 'Other'">
                <input matInput placeholder="Other">
            </mat-form-field>
            </mat-checkbox>
          </li>
        </ul>
    </span>
</div>
<div class="padded-div">
    <mat-label matBadge="3" matBadgePosition="before" matBadgeColor="accent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q17: Copying things down without making mistakes?:</mat-label>
    <span class="example-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [checked]="subtask.completed"
                          [color]="subtask.color"
                          (change)="updateTask2Node(subtask.name)">
              <p *ngIf="subtask.name != 'Other'">{{subtask.name}}</p>
              <mat-form-field *ngIf="subtask.name == 'Other'">
                <input matInput placeholder="Other">
            </mat-form-field>
            </mat-checkbox>
          </li>
        </ul>
    </span>
</div>
<div class="padded-div">
    <mat-label matBadge="3" matBadgePosition="before" matBadgeColor="accent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q18: Organising/finding things in your room?:</mat-label>
    <span class="example-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [checked]="subtask.completed"
                          [color]="subtask.color"
                          (change)="updateTask2Node(subtask.name)">
              <p *ngIf="subtask.name != 'Other'">{{subtask.name}}</p>
              <mat-form-field *ngIf="subtask.name == 'Other'">
                <input matInput placeholder="Other">
            </mat-form-field>
            </mat-checkbox>
          </li>
        </ul>
    </span>
</div>
<div class="padded-div">
    <mat-label matBadge="3" matBadgePosition="before" matBadgeColor="accent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q19: Finding your way around new buildings or places?:</mat-label>
    <span class="example-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [checked]="subtask.completed"
                          [color]="subtask.color"
                          (change)="updateTask2Node(subtask.name)">
              <p *ngIf="subtask.name != 'Other'">{{subtask.name}}</p>
              <mat-form-field *ngIf="subtask.name == 'Other'">
                <input matInput placeholder="Other">
            </mat-form-field>
            </mat-checkbox>
          </li>
        </ul>
    </span>
</div>
<div class="padded-div">
    <mat-label matBadge="3" matBadgePosition="before" matBadgeColor="accent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q20: Have others called you disorganised?:</mat-label>
    <span class="example-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [checked]="subtask.completed"
                          [color]="subtask.color"
                          (change)="updateTask2Node(subtask.name)">
              <p *ngIf="subtask.name != 'Other'">{{subtask.name}}</p>
              <mat-form-field *ngIf="subtask.name == 'Other'">
                <input matInput placeholder="Other">
            </mat-form-field>
            </mat-checkbox>
          </li>
        </ul>
    </span>
</div>
<div class="padded-div">
    <mat-label matBadge="3" matBadgePosition="before" matBadgeColor="accent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q21: Do you have difficulties sitting still or appearing fidgety?:</mat-label>
    <span class="example-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [checked]="subtask.completed"
                          [color]="subtask.color"
                          (change)="updateTask2Node(subtask.name)">
              <p *ngIf="subtask.name != 'Other'">{{subtask.name}}</p>
              <mat-form-field *ngIf="subtask.name == 'Other'">
                <input matInput placeholder="Other">
            </mat-form-field>
            </mat-checkbox>
          </li>
        </ul>
    </span>
</div>
<div class="padded-div">
    <mat-label matBadge="3" matBadgePosition="before" matBadgeColor="accent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q22: Do you lose or leave behind possessions?:</mat-label>
    <span class="example-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [checked]="subtask.completed"
                          [color]="subtask.color"
                          (change)="updateTask2Node(subtask.name)">
              <p *ngIf="subtask.name != 'Other'">{{subtask.name}}</p>
              <mat-form-field *ngIf="subtask.name == 'Other'">
                <input matInput placeholder="Other">
            </mat-form-field>
            </mat-checkbox>
          </li>
        </ul>
    </span>
</div>
<div class="padded-div">
    <mat-label matBadge="3" matBadgePosition="before" matBadgeColor="accent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q23: Would you say that you bump into things, spill or break things?:</mat-label>
    <span class="example-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [checked]="subtask.completed"
                          [color]="subtask.color"
                          (change)="updateTask2Node(subtask.name)">
              <p *ngIf="subtask.name != 'Other'">{{subtask.name}}</p>
              <mat-form-field *ngIf="subtask.name == 'Other'">
                <input matInput placeholder="Other">
            </mat-form-field>
            </mat-checkbox>
          </li>
        </ul>
    </span>
</div>
<div class="padded-div">
    <mat-label matBadge="3" matBadgePosition="before" matBadgeColor="accent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q24: Are you slower than others getting up on the morning and getting to work or college?:</mat-label>
    <span class="example-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [checked]="subtask.completed"
                          [color]="subtask.color"
                          (change)="updateTask2Node(subtask.name)">
              <p *ngIf="subtask.name != 'Other'">{{subtask.name}}</p>
              <mat-form-field *ngIf="subtask.name == 'Other'">
                <input matInput placeholder="Other">
            </mat-form-field>
            </mat-checkbox>
          </li>
        </ul>
    </span>
</div>
<div class="padded-div">
    <mat-label matBadge="3" matBadgePosition="before" matBadgeColor="accent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q25: Did it take you longer than others to learn to drive? (if you do not drive, please indicate on the paper and describe why you chose not to drive).:</mat-label>
    <span class="example-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [checked]="subtask.completed"
                          [color]="subtask.color"
                          (change)="updateTask2Node(subtask.name)">
              <p *ngIf="subtask.name != 'Other'">{{subtask.name}}</p>
              <mat-form-field *ngIf="subtask.name == 'Other'">
                <input matInput placeholder="Other">
            </mat-form-field>
            </mat-checkbox>
          </li>
        </ul>
    </span>
</div>
<div class="padded-div">
    <mat-label matBadge="3" matBadgePosition="before" matBadgeColor="accent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q26: Do others find it difficult to read your writing?:</mat-label>
    <span class="example-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [checked]="subtask.completed"
                          [color]="subtask.color"
                          (change)="updateTask2Node(subtask.name)">
              <p *ngIf="subtask.name != 'Other'">{{subtask.name}}</p>
              <mat-form-field *ngIf="subtask.name == 'Other'">
                <input matInput placeholder="Other">
            </mat-form-field>
            </mat-checkbox>
          </li>
        </ul>
    </span>
</div>
<div class="padded-div">
    <mat-label matBadge="3" matBadgePosition="before" matBadgeColor="accent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q27: Do you avoid hobbies that require good coordination?:</mat-label>
    <span class="example-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [checked]="subtask.completed"
                          [color]="subtask.color"
                          (change)="updateTask2Node(subtask.name)">
              <p *ngIf="subtask.name != 'Other'">{{subtask.name}}</p>
              <mat-form-field *ngIf="subtask.name == 'Other'">
                <input matInput placeholder="Other">
            </mat-form-field>
            </mat-checkbox>
          </li>
        </ul>
    </span>
</div>
<div class="padded-div">
    <mat-label matBadge="3" matBadgePosition="before" matBadgeColor="accent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q28: Do you choose to spend your leisure time more on your own than with others?:</mat-label>
    <span class="example-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [checked]="subtask.completed"
                          [color]="subtask.color"
                          (change)="updateTask2Node(subtask.name)">
              <p *ngIf="subtask.name != 'Other'">{{subtask.name}}</p>
              <mat-form-field *ngIf="subtask.name == 'Other'">
                <input matInput placeholder="Other">
            </mat-form-field>
            </mat-checkbox>
          </li>
        </ul>
    </span>
</div>
<div class="padded-div">
    <mat-label matBadge="3" matBadgePosition="before" matBadgeColor="accent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q29: Do you avoid team games/sports?:</mat-label>
    <span class="example-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [checked]="subtask.completed"
                          [color]="subtask.color"
                          (change)="updateTask2Node(subtask.name)">
              <p *ngIf="subtask.name != 'Other'">{{subtask.name}}</p>
              <mat-form-field *ngIf="subtask.name == 'Other'">
                <input matInput placeholder="Other">
            </mat-form-field>
            </mat-checkbox>
          </li>
        </ul>
    </span>
</div>
<div class="padded-div">
    <mat-label matBadge="3" matBadgePosition="before" matBadgeColor="accent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q30: If you do a sport, is it more likely to be on your own, e.g. going to the gym, than with others?    </mat-label>
    <span class="example-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [checked]="subtask.completed"
                          [color]="subtask.color"
                          (change)="updateTask2Node(subtask.name)">
              <p *ngIf="subtask.name != 'Other'">{{subtask.name}}</p>
              <mat-form-field *ngIf="subtask.name == 'Other'">
                <input matInput placeholder="Other">
            </mat-form-field>
            </mat-checkbox>
          </li>
        </ul>
    </span>
</div>
<div class="padded-div">
    <mat-label matBadge="3" matBadgePosition="before" matBadgeColor="accent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q31: Do you/did you in your teens/twenties avoid going to clubs/dancing?:</mat-label>
    <span class="example-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [checked]="subtask.completed"
                          [color]="subtask.color"
                          (change)="updateTask2Node(subtask.name)">
              <p *ngIf="subtask.name != 'Other'">{{subtask.name}}</p>
              <mat-form-field *ngIf="subtask.name == 'Other'">
                <input matInput placeholder="Other">
            </mat-form-field>
            </mat-checkbox>
          </li>
        </ul>
    </span>
</div>
<div class="padded-div">
    <mat-label matBadge="3" matBadgePosition="before" matBadgeColor="accent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q32: If you are a driver, do you have difficulty parking a car?:</mat-label>
    <span class="example-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [checked]="subtask.completed"
                          [color]="subtask.color"
                          (change)="updateTask2Node(subtask.name)">
              <p *ngIf="subtask.name != 'Other'">{{subtask.name}}</p>
              <mat-form-field *ngIf="subtask.name == 'Other'">
                <input matInput placeholder="Other">
            </mat-form-field>
            </mat-checkbox>
          </li>
        </ul>
    </span>
</div>
<div class="padded-div">
    <mat-label matBadge="3" matBadgePosition="before" matBadgeColor="accent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q33: Do you have difficulty preparing a meal from scratch?:</mat-label>
    <span class="example-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [checked]="subtask.completed"
                          [color]="subtask.color"
                          (change)="updateTask2Node(subtask.name)">
              <p *ngIf="subtask.name != 'Other'">{{subtask.name}}</p>
              <mat-form-field *ngIf="subtask.name == 'Other'">
                <input matInput placeholder="Other">
            </mat-form-field>
            </mat-checkbox>
          </li>
        </ul>
    </span>
</div>
<div class="padded-div">
    <mat-label matBadge="3" matBadgePosition="before" matBadgeColor="accent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q34: Do you have difficulty packing a suitcase to go away?:</mat-label>
    <span class="example-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [checked]="subtask.completed"
                          [color]="subtask.color"
                          (change)="updateTask2Node(subtask.name)">
              <p *ngIf="subtask.name != 'Other'">{{subtask.name}}</p>
              <mat-form-field *ngIf="subtask.name == 'Other'">
                <input matInput placeholder="Other">
            </mat-form-field>
            </mat-checkbox>
          </li>
        </ul>
    </span>
</div>
<div class="padded-div">
    <mat-label matBadge="3" matBadgePosition="before" matBadgeColor="accent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q35: Do you have difficulty packing a suitcase to go away?:</mat-label>
    <span class="example-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [checked]="subtask.completed"
                          [color]="subtask.color"
                          (change)="updateTask2Node(subtask.name)">
              <p *ngIf="subtask.name != 'Other'">{{subtask.name}}</p>
              <mat-form-field *ngIf="subtask.name == 'Other'">
                <input matInput placeholder="Other">
            </mat-form-field>
            </mat-checkbox>
          </li>
        </ul>
    </span>
</div>
<div class="padded-div">
    <mat-label matBadge="3" matBadgePosition="before" matBadgeColor="accent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q36: Do you have difficulty folding clothes to put them away neatly?:</mat-label>
    <span class="example-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [checked]="subtask.completed"
                          [color]="subtask.color"
                          (change)="updateTask2Node(subtask.name)">
              <p *ngIf="subtask.name != 'Other'">{{subtask.name}}</p>
              <mat-form-field *ngIf="subtask.name == 'Other'">
                <input matInput placeholder="Other">
            </mat-form-field>
            </mat-checkbox>
          </li>
        </ul>
    </span>
</div>
<div class="padded-div">
    <mat-label matBadge="3" matBadgePosition="before" matBadgeColor="accent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q37: Do you have difficulty managing money?:</mat-label>
    <span class="example-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [checked]="subtask.completed"
                          [color]="subtask.color"
                          (change)="updateTask2Node(subtask.name)">
              <p *ngIf="subtask.name != 'Other'">{{subtask.name}}</p>
              <mat-form-field *ngIf="subtask.name == 'Other'">
                <input matInput placeholder="Other">
            </mat-form-field>
            </mat-checkbox>
          </li>
        </ul>
    </span>
</div>
<div class="padded-div">
    <mat-label matBadge="3" matBadgePosition="before" matBadgeColor="accent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q38: Do you have difficulties with performing two things at the same time (e.g. driving and listening or taking a telephone message)?:</mat-label>
    <span class="example-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [checked]="subtask.completed"
                          [color]="subtask.color"
                          (change)="updateTask2Node(subtask.name)">
              <p *ngIf="subtask.name != 'Other'">{{subtask.name}}</p>
              <mat-form-field *ngIf="subtask.name == 'Other'">
                <input matInput placeholder="Other">
            </mat-form-field>
            </mat-checkbox>
          </li>
        </ul>
    </span>
</div>
<div class="padded-div">
    <mat-label matBadge="3" matBadgePosition="before" matBadgeColor="accent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q39: Do you have difficulties with distance estimation (e.g. with regard to parking, passing through objects)?:</mat-label>
    <span class="example-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [checked]="subtask.completed"
                          [color]="subtask.color"
                          (change)="updateTask2Node(subtask.name)">
              <p *ngIf="subtask.name != 'Other'">{{subtask.name}}</p>
              <mat-form-field *ngIf="subtask.name == 'Other'">
                <input matInput placeholder="Other">
            </mat-form-field>
            </mat-checkbox>
          </li>
        </ul>
    </span>
</div>
<div class="padded-div">
    <mat-label matBadge="3" matBadgePosition="before" matBadgeColor="accent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q40: Do you have difficulty planning ahead?:</mat-label>
    <span class="example-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [checked]="subtask.completed"
                          [color]="subtask.color"
                          (change)="updateTask2Node(subtask.name)">
              <p *ngIf="subtask.name != 'Other'">{{subtask.name}}</p>
              <mat-form-field *ngIf="subtask.name == 'Other'">
                <input matInput placeholder="Other">
            </mat-form-field>
            </mat-checkbox>
          </li>
        </ul>
    </span>
</div>
<div class="padded-div">
    <mat-label matBadge="3" matBadgePosition="before" matBadgeColor="accent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q41: Do you feel you are losing attention in certain situations?:</mat-label>
    <span class="example-list-section">
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [checked]="subtask.completed"
                          [color]="subtask.color"
                          (change)="updateTask2Node(subtask.name)">
              <p *ngIf="subtask.name != 'Other'">{{subtask.name}}</p>
              <mat-form-field *ngIf="subtask.name == 'Other'">
                <input matInput placeholder="Other">
            </mat-form-field>
            </mat-checkbox>
          </li>
        </ul>
    </span>
</div>
<div class="padded-div">
    <mat-label matBadge="2" matBadgePosition="before" matBadgeColor="accent">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q42: Can you describe any compensatory approaches that you have developed over the years in order to deal with coordination difficulties in your everyday life?
    </mat-label>
    <mat-form-field class="padded-formcontrol" appearance="outline">
        <input matInput>
        <mat-error>Enter your answer .</mat-error>
    </mat-form-field>
</div>
</form>