<mat-toolbar>
  <span>Testing</span>
  <span class="fill-remaining-space"></span>
  <button class ="btn-dialog-close" mat-stroked-button (click)="onClose()">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>

<mat-tab-group  animationDuration="1000ms">
    <mat-tab label="ART">
      <app-art [name]="data.name" [dob]="data.dob"></app-art>
    </mat-tab>
    <mat-tab label="CTOPP">
      <app-ctopp [name]="data.name" [dob]="data.dob"></app-ctopp>
    </mat-tab>
    <mat-tab label="DASH">
      <app-dash [name]="data.name" [dob]="data.dob"></app-dash>
    </mat-tab>
    <mat-tab label="GOART">
      <app-goart [name]="data.name" [dob]="data.dob"></app-goart>
    </mat-tab>
    <mat-tab label="TOMAL">
      <app-tomal [name]="data.name" [dob]="data.dob"></app-tomal>
    </mat-tab>
    <mat-tab label="TOWRE">
      <app-towre [name]="data.name" [dob]="data.dob"></app-towre>
    </mat-tab>
    <mat-tab label="WRAT">
      <app-wrat [name]="data.name" [dob]="data.dob"></app-wrat>
    </mat-tab>
    <mat-tab label="WRIT">
      <app-writ [name]="data.name" [dob]="data.dob"></app-writ>
    </mat-tab>
    
</mat-tab-group>