<div class="fill-remaining-space">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="opened = !opened">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Admin</span>
    <span class="toolbar-spacer"></span>
    <!-- <div class="badge-spacer">
      <mat-icon matBadge="15" matBadgeColor="warn" class="icon-display">notifications</mat-icon>
    </div> -->
    <button mat-flat-button color="warn" routerLink="/login" (click)="logout()">Logout</button>
  </mat-toolbar>
</div>
<div class="sidenav"> 
  <mat-sidenav-container>
    <mat-sidenav opened mode="side">
      <mat-nav-list>
        <a mat-list-item routerLink="/admin/user">Users</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<div class="footer">
  <mat-toolbar>
    <mat-icon>copyright</mat-icon>
    <span>@ CopyRight JSJ</span>
  </mat-toolbar>
</div>
  
    