<div class="span-30">
    <p>Identifying Information </p>
</div>
  
<form [formGroup]="form">
    <div class="span-30">
        <span>Name</span>
        <mat-form-field class="form-span-small" appearance="outline">
            <input matInput formControlName="name">
            <mat-error>Name is mandatory.</mat-error>
        </mat-form-field>
        <mat-label>Date Of Birth</mat-label>
        <mat-form-field class="form-span-small" appearance="outline">
            <input matInput [matDatepicker]="picker" placeholder="DOB" formControlName="dob" (dateChange)="onDOBChange()">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>Invalid Date Of Birth.</mat-error>
        </mat-form-field>
        <span>Age-Year</span>
        <mat-form-field class="form-span-extra-small"  appearance="outline">
            <input matInput formControlName="ageYear" readonly="true">
        </mat-form-field>
        <span>Age-Month</span>
        <mat-form-field class="form-span-extra-small"  appearance="outline">
            <input matInput formControlName="ageMonth" readonly="true">
        </mat-form-field>
        <div class="floating-buttons">
            <button mat-raised-button color="primary" (click)="onSave()">Save</button>
        </div>
        <!-- <button mat-raised-button color="primary" style="margin-left: 20%;" (click)="onSave()">Save</button>
        <button style="padding: 3%;margin-left: 40%;width: 200px;" mat-stroked-button (click)="onSave()">
            <mat-icon>cloud_upload</mat-icon>
        </button> -->
    </div>
    
</form>

<div class="span-30"> 
    <p>Subtest Performance</p>
</div>

<div class="table1" >
    <mat-grid-list  cols="16" rowHeight="30px">
        <div class="Header"> 
            <mat-grid-tile colspan="4" rowspan="3" [style.background]="'grey'" [style.color]="'black'"><b></b></mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="3" [style.background]="'grey'" [style.color]="'black'"><b>No of Errors</b></mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="3" [style.background]="'grey'" [style.color]="'black'"><b>Accuracy (15 no of errors)</b></mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="3" [style.background]="'grey'" [style.color]="'black'"><b>Comprehension(no of correct responses)</b></mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="3" [style.background]="'grey'" [style.color]="'black'"><b>No of Words / passage</b></mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="3" [style.background]="'grey'" [style.color]="'black'"><b>Time taken / pssage</b></mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="3" [style.background]="'grey'" [style.color]="'black'"><b>Speed of Reading (words per minute)</b></mat-grid-tile>
        </div>

        <div class="1"> 
            <mat-grid-tile colspan="4" >Practice (Sport)</mat-grid-tile>
            <mat-grid-tile colspan="2" >
                <input matInput  [(ngModel)]="prErr1" [ngModelOptions]="{standalone: true}" style="color: black;background-color: white;width: 25%;text-align: center;"></mat-grid-tile>
            <mat-grid-tile colspan="2" ><input matInput  [(ngModel)]="prAcc1"  (change)="onAccuracyChange()" [ngModelOptions]="{standalone: true}" style="color: black;background-color: white;width: 25%;text-align: center;" ></mat-grid-tile>
            <mat-grid-tile colspan="2" ><input matInput  [(ngModel)]="prCom1" (change)="onCompreAloudChange()" [ngModelOptions]="{standalone: true}" style="color: black;background-color: white;width: 25%;text-align: center;"></mat-grid-tile>
            <mat-grid-tile colspan="2"><b>58</b></mat-grid-tile>
            <mat-grid-tile colspan="2">
                <input [(ngModel)]="this.second1" type="text" placeholder="Timer" [style.background]="'#303030'"> Sec&nbsp;
                <mat-icon [style.color]="'pink'" [fontIcon]="this.isRunning1 ? 'timer_off' : 'timer'"  (click)="timer1Change()"></mat-icon>
            </mat-grid-tile>
            <mat-grid-tile colspan="2"><input matInput  [(ngModel)]="prSpd1" (change)="onSpeedAloudChange()" [ngModelOptions]="{standalone: true}" style="color: black;background-color: white;width: 25%;text-align: center;"></mat-grid-tile>
        </div>
        <div class="2"> 
            <mat-grid-tile colspan="4">Test1 (News)</mat-grid-tile>
            <mat-grid-tile colspan="2" ><input matInput  [(ngModel)]="prErr2" [ngModelOptions]="{standalone: true}" style="color: black;background-color: white;width: 25%;text-align: center;"></mat-grid-tile>
            <mat-grid-tile colspan="2" ><input matInput  [(ngModel)]="prAcc2"  (change)="onAccuracyChange()" [ngModelOptions]="{standalone: true}" style="color: black;background-color: white;width: 25%;text-align: center;"></mat-grid-tile>
            <mat-grid-tile colspan="2" ><input matInput  [(ngModel)]="prCom2" (change)="onCompreAloudChange()" [ngModelOptions]="{standalone: true}" style="color: black;background-color: white;width: 25%;text-align: center;"></mat-grid-tile>
            <mat-grid-tile colspan="2"><b>178</b></mat-grid-tile>
            <mat-grid-tile colspan="2">
                <input [(ngModel)]="this.second2" type="text" placeholder="Timer" [style.background]="'#303030'"> Sec&nbsp;
                <mat-icon [style.color]="'pink'" [fontIcon]="this.isRunning2 ? 'timer_off' : 'timer'"  (click)="timer2Change()"></mat-icon>
            </mat-grid-tile>
            <mat-grid-tile colspan="2"><input matInput  [(ngModel)]="prSpd2" (change)="onSpeedAloudChange()" [ngModelOptions]="{standalone: true}" style="color: black;background-color: white;width: 25%;text-align: center;"></mat-grid-tile>
        </div>
        <div class="3"> 
            <mat-grid-tile colspan="4">Test2 (Film)</mat-grid-tile>
            <mat-grid-tile colspan="2" ><input matInput  [(ngModel)]="prErr3" [ngModelOptions]="{standalone: true}" style="color: black;background-color: white;width: 25%;text-align: center;"></mat-grid-tile>
            <mat-grid-tile colspan="2" ><input matInput  [(ngModel)]="prAcc3"  (change)="onAccuracyChange()" [ngModelOptions]="{standalone: true}" style="color: black;background-color: white;width: 25%;text-align: center;"></mat-grid-tile>
            <mat-grid-tile colspan="2" ><input matInput  [(ngModel)]="prCom3" (change)="onCompreAloudChange()" [ngModelOptions]="{standalone: true}" style="color: black;background-color: white;width: 25%;text-align: center;"></mat-grid-tile>
            <mat-grid-tile colspan="2"><b>276</b></mat-grid-tile>
            <mat-grid-tile colspan="2">
                <input [(ngModel)]="this.second3" type="text" placeholder="Timer" [style.background]="'#303030'"> Sec&nbsp;
                <mat-icon [style.color]="'pink'" [fontIcon]="this.isRunning3 ? 'timer_off' : 'timer'"  (click)="timer3Change()"></mat-icon>
            </mat-grid-tile>
            <mat-grid-tile colspan="2"><input matInput  [(ngModel)]="prSpd3" (change)="onSpeedAloudChange()" [ngModelOptions]="{standalone: true}" style="color: black;background-color: white;width: 25%;text-align: center;"></mat-grid-tile>
        </div>
        <div class="4"> 
            <mat-grid-tile colspan="4">Test3 (Politics)</mat-grid-tile>
            <mat-grid-tile colspan="2" ><input matInput  [(ngModel)]="prErr4" [ngModelOptions]="{standalone: true}" style="color: black;background-color: white;width: 25%;text-align: center;"></mat-grid-tile>
            <mat-grid-tile colspan="2" ><input matInput  [(ngModel)]="prAcc4"  (change)="onAccuracyChange()" [ngModelOptions]="{standalone: true}" style="color: black;background-color: white;width: 25%;text-align: center;"></mat-grid-tile>
            <mat-grid-tile colspan="2" ><input matInput  [(ngModel)]="prCom4" (change)="onCompreAloudChange()" [ngModelOptions]="{standalone: true}" style="color: black;background-color: white;width: 25%;text-align: center;"></mat-grid-tile>
            <mat-grid-tile colspan="2"><b>502</b></mat-grid-tile>
            <mat-grid-tile colspan="2">
                <input [(ngModel)]="this.second4" type="text" placeholder="Timer" [style.background]="'#303030'"> Sec&nbsp;
                <mat-icon [style.color]="'pink'" [fontIcon]="this.isRunning4 ? 'timer_off' : 'timer'"  (click)="timer4Change()"></mat-icon>
            </mat-grid-tile>
            <mat-grid-tile colspan="2"><input matInput  [(ngModel)]="prSpd4" (change)="onSpeedAloudChange()" [ngModelOptions]="{standalone: true}" style="color: black;background-color: white;width: 25%;text-align: center;"></mat-grid-tile>
        </div>
        <div class="5"> 
            <mat-grid-tile colspan="4"><b>Total / Average</b></mat-grid-tile>
            <mat-grid-tile colspan="2" [style.background]="'black'"></mat-grid-tile>
            <mat-grid-tile colspan="2">{{smAccuracy}}</mat-grid-tile>
            <mat-grid-tile colspan="2">{{smCompreAloud}}</mat-grid-tile>
            <mat-grid-tile colspan="2" [style.background]="'black'"></mat-grid-tile>
            <mat-grid-tile colspan="2" [style.background]="'black'"></mat-grid-tile>
            <mat-grid-tile colspan="2">{{smSpeedAloud}}</mat-grid-tile>
        </div>
        
    </mat-grid-list>
</div>

<div class="span-30">
    <p></p>
</div>

<div class="table1" >
    <mat-grid-list  cols="14" rowHeight="30px">
        <div class="Header"> 
            <mat-grid-tile colspan="4" rowspan="3" [style.background]="'grey'" [style.color]="'black'"><b></b></mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="3" [style.background]="'grey'" [style.color]="'black'"><b>Comprehension (no of correct responses)</b></mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="3" [style.background]="'grey'" [style.color]="'black'"><b>No of Words / passage</b></mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="3" [style.background]="'grey'" [style.color]="'black'"><b>Time taken / pssage</b></mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="3" [style.background]="'grey'" [style.color]="'black'"><b>Speed of Reading (words per minute)</b></mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="3" [style.background]="'grey'" [style.color]="'black'"><b><u>minimum time to cease testing</u></b></mat-grid-tile>
        </div>
        <div class="1"> 
            <mat-grid-tile colspan="4">Practice (Food)</mat-grid-tile>
            <mat-grid-tile colspan="2"><input matInput  [(ngModel)]="prComp5" (change)="onCompreSilentChange()" [ngModelOptions]="{standalone: true}" style="color: black;background-color: white;width: 25%;text-align: center;"></mat-grid-tile>
            <mat-grid-tile colspan="2">59</mat-grid-tile>
            <mat-grid-tile colspan="2">
                <input [(ngModel)]="this.second5" type="text" placeholder="Timer" [style.background]="'#303030'"> Sec&nbsp;
                <mat-icon [style.color]="'pink'" [fontIcon]="this.isRunning5 ? 'timer_off' : 'timer'"  (click)="timer5Change()"></mat-icon>
            </mat-grid-tile>
            <mat-grid-tile colspan="2"><input matInput  [(ngModel)]="prSpd5" (change)="onSpeedSilentChange()" [ngModelOptions]="{standalone: true}" style="color: black;background-color: white;width: 25%;text-align: center;"></mat-grid-tile>
            <mat-grid-tile colspan="2">75 secs</mat-grid-tile>
        </div>
        
        <div class="2"> 
            <mat-grid-tile colspan="4">Test1 (Wildlife)</mat-grid-tile>
            <mat-grid-tile colspan="2"><input matInput  [(ngModel)]="prComp6" (change)="onCompreSilentChange()" [ngModelOptions]="{standalone: true}" style="color: black;background-color: white;width: 25%;text-align: center;"></mat-grid-tile>
            <mat-grid-tile colspan="2">179</mat-grid-tile>
            <mat-grid-tile colspan="2">
                <input [(ngModel)]="this.second6" type="text" placeholder="Timer" [style.background]="'#303030'"> Sec&nbsp;
                <mat-icon [style.color]="'pink'" [fontIcon]="this.isRunning6 ? 'timer_off' : 'timer'"  (click)="timer6Change()"></mat-icon>
            </mat-grid-tile>
            <mat-grid-tile colspan="2"><input matInput  [(ngModel)]="prSpd6" (change)="onSpeedSilentChange()" [ngModelOptions]="{standalone: true}" style="color: black;background-color: white;width: 25%;text-align: center;"></mat-grid-tile>
            <mat-grid-tile colspan="2">210 secs</mat-grid-tile>
        </div>
        <div class="3"> 
            <mat-grid-tile colspan="4">Test1 (Psychology)</mat-grid-tile>
            <mat-grid-tile colspan="2"><input matInput  [(ngModel)]="prComp7" (change)="onCompreSilentChange()" [ngModelOptions]="{standalone: true}" style="color: black;background-color: white;width: 25%;text-align: center;"></mat-grid-tile>
            <mat-grid-tile colspan="2">268</mat-grid-tile>
            <mat-grid-tile colspan="2">
                <input [(ngModel)]="this.second7" type="text" placeholder="Timer" [style.background]="'#303030'"> Sec&nbsp;
                <mat-icon [style.color]="'pink'" [fontIcon]="this.isRunning7 ? 'timer_off' : 'timer'"  (click)="timer7Change()"></mat-icon>
            </mat-grid-tile>
            <mat-grid-tile colspan="2"><input matInput  [(ngModel)]="prSpd7" (change)="onSpeedSilentChange()" [ngModelOptions]="{standalone: true}" style="color: black;background-color: white;width: 25%;text-align: center;"></mat-grid-tile>
            <mat-grid-tile colspan="2">280 secs</mat-grid-tile>
        </div>
        <div class="4"> 
            <mat-grid-tile colspan="4">Test1 (Science)</mat-grid-tile>
            <mat-grid-tile colspan="2"><input matInput  [(ngModel)]="prComp8" (change)="onCompreSilentChange()" [ngModelOptions]="{standalone: true}" style="color: black;background-color: white;width: 25%;text-align: center;"></mat-grid-tile>
            <mat-grid-tile colspan="2">506</mat-grid-tile>
            <mat-grid-tile colspan="2">
                <input [(ngModel)]="this.second8" type="text" placeholder="Timer" [style.background]="'#303030'"> Sec&nbsp;
                <mat-icon [style.color]="'pink'" [fontIcon]="this.isRunning8 ? 'timer_off' : 'timer'"  (click)="timer8Change()"></mat-icon>
            </mat-grid-tile>
            <mat-grid-tile colspan="2"><input matInput  [(ngModel)]="prSpd8" (change)="onSpeedSilentChange()" [ngModelOptions]="{standalone: true}" style="color: black;background-color: white;width: 25%;text-align: center;"></mat-grid-tile>
            <mat-grid-tile colspan="2">N/A</mat-grid-tile>
        </div>
        <div class="5"> 
            <mat-grid-tile colspan="4"><b>Total&nbsp;/&nbsp;Average</b></mat-grid-tile>
            <mat-grid-tile colspan="2">{{smCompreSilent}}</mat-grid-tile>
            <mat-grid-tile colspan="2" [style.background]="'black'"></mat-grid-tile>
            <mat-grid-tile colspan="2" [style.background]="'black'"></mat-grid-tile>
            <mat-grid-tile colspan="2">{{smSpeedSilent}}</mat-grid-tile>
            <mat-grid-tile colspan="2" [style.background]="'black'"></mat-grid-tile>
        </div>

    </mat-grid-list>
</div>

<div class="span-30">
    <p></p>
</div>

<div class="span-30" style="text-align: center">
    <button class="span-30" (click)="Populate()" style="background-color: aquamarine">Generate</button>
</div>

<div class="span-table2" >
    <mat-grid-list  cols="14" rowHeight="30px" [hidden]="hidden">
        <div class="Header"> 
            <mat-grid-tile colspan="5" rowspan="2" [style.background]="'grey'" [style.color]="'black'"><b></b></mat-grid-tile>
            <mat-grid-tile colspan="3" rowspan="2" [style.background]="'grey'" [style.color]="'black'"><b>Total Score</b></mat-grid-tile>
            <mat-grid-tile colspan="3" rowspan="2" [style.background]="'grey'" [style.color]="'black'"><b>Centile</b></mat-grid-tile>
            <mat-grid-tile colspan="3" rowspan="2" [style.background]="'grey'" [style.color]="'black'"><b>Standard Score</b></mat-grid-tile>
        </div>
        <div class="1"> 
            <mat-grid-tile colspan="5"><b>Accuracy</b></mat-grid-tile>
            <mat-grid-tile colspan="3">{{smAccuracy}}</mat-grid-tile>
            <mat-grid-tile colspan="3">{{smAccuracyCentile}}</mat-grid-tile>
            <mat-grid-tile colspan="3">{{smAccuracyStd}}</mat-grid-tile>
        </div>
        <div class="2"> 
            <mat-grid-tile colspan="5"><b>Coprehension (aloud)</b></mat-grid-tile>
            <mat-grid-tile colspan="3">{{smCompreAloud}}</mat-grid-tile>
            <mat-grid-tile colspan="3">{{smCompreAloudCentile}}</mat-grid-tile>
            <mat-grid-tile colspan="3">{{smCompreAloudStd}}</mat-grid-tile>
        </div>
        <div class="3"> 
            <mat-grid-tile colspan="5"><b>Speed of Reading (aloud) (Average Rate)</b></mat-grid-tile>
            <mat-grid-tile colspan="3">{{smSpeedAloud}}</mat-grid-tile>
            <mat-grid-tile colspan="3">{{smSpeedAloudCentile}}</mat-grid-tile>
            <mat-grid-tile colspan="3">{{smSpeedAloudStd}}</mat-grid-tile>
        </div>
        <div class="4"> 
            <mat-grid-tile colspan="5"><b>Coprehension (silent)</b></mat-grid-tile>
            <mat-grid-tile colspan="3">{{smCompreSilent}}</mat-grid-tile>
            <mat-grid-tile colspan="3">{{smCompreSilentCentile}}</mat-grid-tile>
            <mat-grid-tile colspan="3">{{smCompreSilentStd}}</mat-grid-tile>
        </div>
        <div class="5"> 
            <mat-grid-tile colspan="5"><b>Speed of Reading (silent) (Average Rate)</b></mat-grid-tile>
            <mat-grid-tile colspan="3">{{smSpeedSilent}}</mat-grid-tile>
            <mat-grid-tile colspan="3">{{smSpeedSilentCentile}}</mat-grid-tile>
            <mat-grid-tile colspan="3">{{smSpeedSilentStd}}</mat-grid-tile>
        </div>
        <div class="6"> 
            <mat-grid-tile colspan="5"><b>Writing Speed (Rate)</b></mat-grid-tile>
            <mat-grid-tile colspan="3">
                <input matInput  [(ngModel)]="smWritingSpeed" [ngModelOptions]="{standalone: true}" style="color: black;background-color: white;width: 25%;text-align: center;">
                <button (click)="getWritingSpeedScore()" [disabled]="!(this.smWritingSpeed != '0') ">Check</button>
            </mat-grid-tile>
            <mat-grid-tile colspan="3">{{smWritingSpeedCentile}}</mat-grid-tile>
            <mat-grid-tile colspan="3">{{smWritingSpeedStd}}</mat-grid-tile>
        </div>
        
    </mat-grid-list>
</div>


<div class="span-30">
    <p></p>
</div>


