<mat-toolbar>
  <span>{{form.controls['id'].value?"Modify Client":"New Client"}}</span>
  <span class="fill-remaining-space"></span>
  <button class ="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>


<form [formGroup]="form" (submit)="onSubmit()">
  <mat-grid-list cols="3" rowHeight="120px">

    <input type="hidden" formControlName="id">

    <mat-grid-tile colspan="2">
      <mat-form-field class="field-1">
        <input formControlName="name" matInput placeholder="Name*">
        <mat-error>This field is mandatory.</mat-error>
      </mat-form-field>
    </mat-grid-tile>
    
    <mat-grid-tile rowspan="2"></mat-grid-tile>

    <mat-grid-tile colspan="2">
      <mat-form-field class="field-1 field-margin-1" appearance="outline">
        <input matInput [matDatepicker]="picker" placeholder="DOB" formControlName="dob" (dateChange)="onDOBChange()">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>Invalid Date Of Birth.</mat-error>
      </mat-form-field>
    </mat-grid-tile>
    
    <mat-grid-tile colspan="2">
      <mat-form-field  class="field-1">
        <mat-select formControlName="service" placeholder="Services" [(value)]="selected" (selectionChange)="onSelectionchanged()">
          <ng-container *ngFor="let type of assessorServices">
            <mat-option value="{{type.Value}}">{{type.Name}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    
    <mat-grid-tile>
      <div class="button-1">
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Submit</button>
      </div>
    </mat-grid-tile>
    
    <mat-grid-tile colspan="2">
      <mat-form-field  class="field-1">
        <input formControlName="email" matInput placeholder="Email">
        <mat-error>This field is mandatory.</mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="button-1">
        <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
      </div>
    </mat-grid-tile>
    
    <mat-grid-tile colspan="2">
      <mat-form-field  class="field-1">
        <input formControlName="phone" matInput placeholder="Phone">
      </mat-form-field>
    </mat-grid-tile>
    
    <mat-grid-tile rowspan="2"></mat-grid-tile>

  </mat-grid-list>
</form>