.padded-div {
    padding-left: 20px;
    padding-top: 20px;
    color: #000000;
  }
  .example-section {
    margin: 12px 0;
  }
  
  .example-margin {
    margin: 0 12px;
  }
.padded-formcontrol {
    padding: 5px;
    display: block;
  }

  .padded-check {
    padding-left: 10px;
    padding-top: 10px;
  }

  .floating-buttons {
    position: fixed;
    bottom: 20px; /* Distance from the bottom */
    right: 20px; /* Distance from the right */
    z-index: 1000; /* Ensure it stays on top of other content */
}


.padded-div-blue {
  background-color: #e3f2fd; /* Light blue */
  padding: 10px; /* Add padding for better visual spacing */
  margin-bottom: 15px; /* Add some margin to separate the questions */
}

.padded-div-green {
  background-color: #e8f5e9; /* Light green */
  padding: 10px; /* Add padding for better visual spacing */
  margin-bottom: 15px; /* Add some margin to separate the questions */
}