<form [formGroup]="form"  (submit)="onSubmit()">
    <div>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Save</button>
        <button mat-button color="primary" matStepperNext>Next</button>
    </div>
    <div class="padded-div">
        <mat-label matBadge="1" matBadgePosition="before" matBadgeColor="accent">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Course name and level (for example, BSc Psychology, MA Architecture). ?
        </mat-label>
        <mat-form-field class="padded-formcontrol" appearance="outline">
            <input matInput formControlName="answer7">
            <mat-error>Full Name is mandatory.</mat-error>
        </mat-form-field>
    </div>
    <div class="padded-div">
        <mat-label matBadge="2" matBadgePosition="before" matBadgeColor="accent">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email Address (University and Personal)?
        </mat-label>
        <mat-form-field class="padded-formcontrol" appearance="outline">
            <input matInput>
            <mat-error>Full Name is mandatory.</mat-error>
        </mat-form-field>
    </div>
    <div class="padded-div">
        <mat-label matBadge="3" matBadgePosition="before" matBadgeColor="accent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Which associate role(s) are you registering for?</mat-label>
        <section class="example-section">
            <!-- <span class="example-list-section">
              <mat-checkbox class="example-margin"
                            [checked]="allComplete"
                            [color]="task.color"
                            [indeterminate]="someComplete()"
                            (change)="setAll($event.checked)">
                {{task.name}}
              </mat-checkbox>
            </span> -->
            <span class="example-list-section">
              <ul>
                <li *ngFor="let subtask of task.subtasks">
                  <mat-checkbox [checked]="subtask.completed"
                                [color]="subtask.color"
                                (change)="updateTask1Node(subtask.name)">
                    {{subtask.name}}
                  </mat-checkbox>
                </li>
              </ul>
            </span>
          </section>
    </div>
    
    <div class="padded-div">
        <mat-label matBadge="4" matBadgePosition="before" matBadgeColor="accent">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Which professional bodies and or associations are you a member of:</mat-label>
        <span class="example-list-section">
            <ul>
              <li *ngFor="let subtask of task2.subtasks">
                <mat-checkbox [checked]="subtask.completed"
                              [color]="subtask.color"
                              (change)="updateTask2Node(subtask.name)">
                  <p *ngIf="subtask.name != 'Other'">{{subtask.name}}</p>
                  <mat-form-field *ngIf="subtask.name == 'Other'">
                    <input matInput placeholder="Other">
                </mat-form-field>
                </mat-checkbox>
              </li>
            </ul>
        </span>
        <!-- <mat-checkbox-group [(ngModel)]="selectedValue4" [ngModelOptions]="{standalone: true}">

        </mat-checkbox-group>
        <section>
            <mat-checkbox value="PATOSS"  class="padded-check">PATOSS</mat-checkbox>
            <mat-checkbox  value="BDA" class="padded-check">BDA</mat-checkbox>
            <mat-checkbox  value="Dyslexia Guild" class="padded-check">Dyslexia Guild</mat-checkbox>
            <mat-checkbox  value="SASC" class="padded-check">SASC</mat-checkbox>
            <mat-checkbox  value="British Psychological Society" class="padded-check">British Psychological Society</mat-checkbox>
            <mat-checkbox  value="Other" class="padded-check">
                <mat-form-field>
                    <input matInput placeholder="Other">
                </mat-form-field>
            </mat-checkbox>
        </section> -->
    </div>
    



</form>