<div class="span-30">
    <p>Identifying Information </p>
</div>
  
<form [formGroup]="form">
    <div class="span-30">
        <span>Name</span>
        <mat-form-field class="form-span-small" appearance="outline">
            <input matInput formControlName="name">
            <mat-error>Name is mandatory.</mat-error>
        </mat-form-field>
        <mat-label>Date Of Birth</mat-label>
        <mat-form-field class="form-span-small" appearance="outline">
            <input matInput [matDatepicker]="picker" placeholder="DOB" formControlName="dob" (dateChange)="onDOBChange()">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>Invalid Date Of Birth.</mat-error>
        </mat-form-field>
        <span>Age-Year</span>
        <mat-form-field class="form-span-extra-small"  appearance="outline">
            <input matInput formControlName="ageYear" readonly="true">
        </mat-form-field>
        <span>Age-Month</span>
        <mat-form-field class="form-span-extra-small"  appearance="outline">
            <input matInput formControlName="ageMonth" readonly="true">
        </mat-form-field>
    </div>
</form>

<div class="stop-watch">
    <div>{{ this.second }} Sec
        <mat-icon [fontIcon]="this.isRunning ? 'timer_off' : 'timer'"  (click)="timer1Change()"></mat-icon>
    </div>
</div>  


<div class="span-30"> 
    <p>Subtest Performance</p>
</div>

<div class="table1" >
    <mat-grid-list  cols="16" rowHeight="30px">
        <div class="Header"> 
            <mat-grid-tile colspan="4" rowspan="3" [style.background]="'grey'" [style.color]="'black'"><b></b></mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="3" [style.background]="'grey'" [style.color]="'black'"><b>No of Errors</b></mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="3" [style.background]="'grey'" [style.color]="'black'"><b>Accuracy (15 no of errors)</b></mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="3" [style.background]="'grey'" [style.color]="'black'"><b>Comprehension(no of correct responses)</b></mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="3" [style.background]="'grey'" [style.color]="'black'"><b>No of Words / passage</b></mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="3" [style.background]="'grey'" [style.color]="'black'"><b>Time taken / pssage</b></mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="3" [style.background]="'grey'" [style.color]="'black'"><b>Speed of Reading (words per minute)</b></mat-grid-tile>
        </div>

        <div class="1"> 
            <mat-grid-tile colspan="4" >Practice (Sport)</mat-grid-tile>
            <mat-grid-tile colspan="2" ></mat-grid-tile>
            <mat-grid-tile colspan="2" ></mat-grid-tile>
            <mat-grid-tile colspan="2" ></mat-grid-tile>
            <mat-grid-tile colspan="2"><b>58</b></mat-grid-tile>
            <mat-grid-tile colspan="2">
                {{ this.second }} Sec
                    <mat-icon [fontIcon]="this.isRunning ? 'timer_off' : 'timer'"  (click)="timer1Change()"></mat-icon>
            </mat-grid-tile>
            <mat-grid-tile colspan="2"></mat-grid-tile>
        </div>
        <div class="2"> 
            <mat-grid-tile colspan="4">Test1 (News)</mat-grid-tile>
            <mat-grid-tile colspan="2"></mat-grid-tile>
            <mat-grid-tile colspan="2"></mat-grid-tile>
            <mat-grid-tile colspan="2"></mat-grid-tile>
            <mat-grid-tile colspan="2"><b>178</b></mat-grid-tile>
            <mat-grid-tile colspan="2">
                {{ this.second }} Sec
                    <mat-icon [fontIcon]="this.isRunning ? 'timer_off' : 'timer'"  (click)="timer1Change()"></mat-icon>
            </mat-grid-tile>
            <mat-grid-tile colspan="2"></mat-grid-tile>
        </div>
        <div class="3"> 
            <mat-grid-tile colspan="4">Test2 (Film)</mat-grid-tile>
            <mat-grid-tile colspan="2"></mat-grid-tile>
            <mat-grid-tile colspan="2"></mat-grid-tile>
            <mat-grid-tile colspan="2"></mat-grid-tile>
            <mat-grid-tile colspan="2"><b>276</b></mat-grid-tile>
            <mat-grid-tile colspan="2">
                {{ this.second }} Sec
                    <mat-icon [fontIcon]="this.isRunning ? 'timer_off' : 'timer'"  (click)="timer1Change()"></mat-icon>
            </mat-grid-tile>
            <mat-grid-tile colspan="2"></mat-grid-tile>
        </div>
        <div class="4"> 
            <mat-grid-tile colspan="4">Test3 (Politics)</mat-grid-tile>
            <mat-grid-tile colspan="2"></mat-grid-tile>
            <mat-grid-tile colspan="2"></mat-grid-tile>
            <mat-grid-tile colspan="2"></mat-grid-tile>
            <mat-grid-tile colspan="2"><b>502</b></mat-grid-tile>
            <mat-grid-tile colspan="2">
                <input [(ngModel)]="this.second" type="text" placeholder="Timer" [style.background]="'grey'" width="10px">
                    <mat-icon [fontIcon]="this.isRunning ? 'timer_off' : 'timer'"  (click)="timer1Change()"></mat-icon>
            </mat-grid-tile>
            <mat-grid-tile colspan="2"></mat-grid-tile>
        </div>
        <div class="5"> 
            <mat-grid-tile colspan="4"><b>Total / Average</b></mat-grid-tile>
            <mat-grid-tile colspan="2" [style.background]="'black'"></mat-grid-tile>
            <mat-grid-tile colspan="2"></mat-grid-tile>
            <mat-grid-tile colspan="2"></mat-grid-tile>
            <mat-grid-tile colspan="2" [style.background]="'black'"></mat-grid-tile>
            <mat-grid-tile colspan="2" [style.background]="'black'"></mat-grid-tile>
            <mat-grid-tile colspan="2"></mat-grid-tile>
        </div>
        
    </mat-grid-list>
</div>

<div class="span-30">
    <p></p>
</div>

<div class="table1" >
    <mat-grid-list  cols="14" rowHeight="30px">
        <div class="Header"> 
            <mat-grid-tile colspan="4" rowspan="3" [style.background]="'grey'" [style.color]="'black'"><b></b></mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="3" [style.background]="'grey'" [style.color]="'black'"><b>Comprehension(no of correct responses)</b></mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="3" [style.background]="'grey'" [style.color]="'black'"><b>No of Words / passage</b></mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="3" [style.background]="'grey'" [style.color]="'black'"><b>Time taken / pssage</b></mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="3" [style.background]="'grey'" [style.color]="'black'"><b>Speed of Reading (words per minute)</b></mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="3" [style.background]="'grey'" [style.color]="'black'"><b><u>minimum time to cease testing</u></b></mat-grid-tile>
        </div>
        <div class="1"> 
            <mat-grid-tile colspan="4">Practice (Food)</mat-grid-tile>
            <mat-grid-tile colspan="2"></mat-grid-tile>
            <mat-grid-tile colspan="2">59</mat-grid-tile>
            <mat-grid-tile colspan="2"></mat-grid-tile>
            <mat-grid-tile colspan="2"></mat-grid-tile>
            <mat-grid-tile colspan="2">75 secs</mat-grid-tile>
        </div>
        
        <div class="2"> 
            <mat-grid-tile colspan="4">Test1 (Wildlife)</mat-grid-tile>
            <mat-grid-tile colspan="2"></mat-grid-tile>
            <mat-grid-tile colspan="2">179</mat-grid-tile>
            <mat-grid-tile colspan="2"></mat-grid-tile>
            <mat-grid-tile colspan="2"></mat-grid-tile>
            <mat-grid-tile colspan="2">210 secs</mat-grid-tile>
        </div>
        <div class="3"> 
            <mat-grid-tile colspan="4">Test1 (Psychology)</mat-grid-tile>
            <mat-grid-tile colspan="2"></mat-grid-tile>
            <mat-grid-tile colspan="2">268</mat-grid-tile>
            <mat-grid-tile colspan="2"></mat-grid-tile>
            <mat-grid-tile colspan="2"></mat-grid-tile>
            <mat-grid-tile colspan="2">280 secs</mat-grid-tile>
        </div>
        <div class="4"> 
            <mat-grid-tile colspan="4">Test1 (Science)</mat-grid-tile>
            <mat-grid-tile colspan="2"></mat-grid-tile>
            <mat-grid-tile colspan="2">506</mat-grid-tile>
            <mat-grid-tile colspan="2"></mat-grid-tile>
            <mat-grid-tile colspan="2"></mat-grid-tile>
            <mat-grid-tile colspan="2">N/A</mat-grid-tile>
        </div><div class="5"> 
            <mat-grid-tile colspan="4">Total&nbsp;/&nbsp;Average</mat-grid-tile>
            <mat-grid-tile colspan="2"></mat-grid-tile>
            <mat-grid-tile colspan="2" [style.background]="'black'"></mat-grid-tile>
            <mat-grid-tile colspan="2" [style.background]="'black'"></mat-grid-tile>
            <mat-grid-tile colspan="2"></mat-grid-tile>
            <mat-grid-tile colspan="2" [style.background]="'black'"></mat-grid-tile>
        </div>

    </mat-grid-list>
</div>

<div class="span-30">
    <p></p>
</div>

<div class="span-30">
    <p>Composite Performance</p>
    <button class="span-30" (click)="Generate(false)">Generate</button>
</div>

<div class="span-table2" >
    <mat-grid-list  cols="14" rowHeight="30px" [hidden]="hidden">
        <div class="Header"> 
            <mat-grid-tile colspan="5" rowspan="2" [style.background]="'grey'" [style.color]="'black'"><b></b></mat-grid-tile>
            <mat-grid-tile colspan="3" rowspan="2" [style.background]="'grey'" [style.color]="'black'"><b>Total Score</b></mat-grid-tile>
            <mat-grid-tile colspan="3" rowspan="2" [style.background]="'grey'" [style.color]="'black'"><b>Centile</b></mat-grid-tile>
            <mat-grid-tile colspan="3" rowspan="2" [style.background]="'grey'" [style.color]="'black'"><b>Standard Score</b></mat-grid-tile>
        </div>
        <div class="1"> 
            <mat-grid-tile colspan="5">Accuracy</mat-grid-tile>
            <mat-grid-tile colspan="3"></mat-grid-tile>
            <mat-grid-tile colspan="3"></mat-grid-tile>
            <mat-grid-tile colspan="3"></mat-grid-tile>
        </div>
        <div class="2"> 
            <mat-grid-tile colspan="5">Coprehension (aloud)</mat-grid-tile>
            <mat-grid-tile colspan="3"></mat-grid-tile>
            <mat-grid-tile colspan="3"></mat-grid-tile>
            <mat-grid-tile colspan="3"></mat-grid-tile>
        </div>
        <div class="3"> 
            <mat-grid-tile colspan="5">Speed of Reading (aloud) (Average Rate)</mat-grid-tile>
            <mat-grid-tile colspan="3"></mat-grid-tile>
            <mat-grid-tile colspan="3"></mat-grid-tile>
            <mat-grid-tile colspan="3"></mat-grid-tile>
        </div>
        <div class="4"> 
            <mat-grid-tile colspan="5">Coprehension (silent)</mat-grid-tile>
            <mat-grid-tile colspan="3"></mat-grid-tile>
            <mat-grid-tile colspan="3"></mat-grid-tile>
            <mat-grid-tile colspan="3"></mat-grid-tile>
        </div>
        <div class="5"> 
            <mat-grid-tile colspan="5">Speed of Reading (silent) (Average Rate)</mat-grid-tile>
            <mat-grid-tile colspan="3"></mat-grid-tile>
            <mat-grid-tile colspan="3"></mat-grid-tile>
            <mat-grid-tile colspan="3"></mat-grid-tile>
        </div>
        <div class="6"> 
            <mat-grid-tile colspan="5">Writing Speed (Rate)</mat-grid-tile>
            <mat-grid-tile colspan="3"></mat-grid-tile>
            <mat-grid-tile colspan="3"></mat-grid-tile>
            <mat-grid-tile colspan="3"></mat-grid-tile>
        </div>
        
    </mat-grid-list>
</div>


<div class="span-30">
    <p></p>
</div>
